# SerpApi
SERPAPI_KEY=5d63b91b698268dab52780a02a1b7a8b3f02c8cddede2f1f8c316248fbed7194

# MongoDB
MONGODB_URI=mongodb+srv://hoduclam2408_db_user:9PFF8O3XgpJMr9sw@google-map-data.vg2ulee.mongodb.net/leads_scraper?retryWrites=true&w=majority
# Redis
REDIS_HOST=redis-16525.crce194.ap-seast-1-1.ec2.cloud.redislabs.com
REDIS_PORT=16525
REDIS_PASSWORD=EXUNuOfBByESJIxJsKvFdBOxDk2Roqx5
REDIS_USERNAME=default

# Server
PORT=3000
NODE_ENV=development

# Worker concurrency
MAPS_WORKER_CONCURRENCY=10
CRAWL_WORKER_CONCURRENCY=10

# Scraper settings
REQUEST_TIMEOUT=15000
MAX_RETRIES=3
CRAWL_DELAY_MS=1000
